* {
	background-image: none;
}

window {
	background-color: rgba(52, 63, 68, 0.9);
}

button {
    color: #FFFFFF;
	background-color: #2D353B;
	border-style: solid;
	border-color: #232A2E;
	border-width: 1px;
	border-radius: 8px;
	background-repeat: no-repeat;
	background-position: center;
}

button:focus, button:active, button:hover {
	background-color: #425047;
	outline-style: none;
	border-color: #A7C080;
}

#lock {
    background-image: image(url("/usr/share/wleave/icons/lock.svg"), url("/usr/local/share/wleave/icons/lock.svg"));
}

#logout {
    background-image: image(url("/usr/share/wleave/icons/logout.svg"), url("/usr/local/share/wleave/icons/logout.svg"));
}

#suspend {
    background-image: image(url("/usr/share/wleave/icons/suspend.svg"), url("/usr/local/share/wleave/icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("/usr/share/wleave/icons/hibernate.svg"), url("/usr/local/share/wleave/icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/usr/share/wleave/icons/shutdown.svg"), url("/usr/local/share/wleave/icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("/usr/share/wleave/icons/reboot.svg"), url("/usr/local/share/wleave/icons/reboot.svg"));
}
